/*----------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: #000;

  background-color: #FFF;
}


/*ajuser letter spacing*/
h1{
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 34.6px;
    color: #FFF;
    text-align: center;

    margin: 0;
    padding: 0;
}

h2{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 60px;
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

/*----------------------------------------------------
COMPONENTS
----------------------------------------------------*/

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

/*HEADER*/

.header{
    background-color: #34495E;
    padding-bottom: 44px;
    padding-top: 44px;
}

/*SLOGAN*/

.slogan{
    padding-top: 56px;
    padding-bottom: 63px;

    text-align: right;
}

.slogan q{
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 2.6px;
}

.slogan p{
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 2.6px;
}

/*RÈGLES*/

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 66px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 30px;
}

a .article{
    padding-bottom: 10px;
    padding-top: 10px;
}

a .article:hover{
    background-color: #BDC3C7;
}

.rond{
    height: 210px;
    width: 210px;
    border: 5px solid #D35400;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.5px;

    color: #D35400;
    background-color: #FFF;
}

.gauche{
    flex-direction: row-reverse;
}